// font-family: 'Quicksand', 'sans-serif';
// font-family: 'Lora', 'serif';
.site_title,
h1, h2, h3, h4,
.breadcrumb {
  font-family: 'Quicksand', 'sans-serif';
}

body {
  font-family: 'Lora', 'serif';
}

.field {
  display: block;
  padding: 4px 8px;
  &:nth-child(even) {
    background: #EBE6E6;
  }
  .label {
    float: left;
    width: 25%;
    font-size: 0.9em;
    padding-left: 0;
    text-transform: uppercase;
    color: #5e6469;
    text-shadow: white 0 1px 0;
    font-weight: bold;
  }
  .value {
    float: left;
    width: 75%;
  }
}

.loading {
  background: asset-url('loading.gif') no-repeat center center;
  width: 100%;
  min-height: 150px;
}
.application h4 {
  text-transform: uppercase;
  
}
h3 {
  // padding: 8px 15px !important;
  // border-radius: 15px !important;
  // background: white;
  // background: -webh3kit-linear-gradient(-90deg, white, #f1f1f1);
  &:hover {
    cursor: pointer;
  }
  a {
     -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.0em;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    background: white;
    background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
    background: -moz-linear-gradient(-90deg, white, #e7e7e7);
    background: linear, -90deg, white, #e7e7e7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
    border: solid 1px #c7c7c7;
    border-color: #c7c7c7;
    border-top-color: lightgrey;
    border-right-color: #c7c7c7;
    border-bottom-color: #c2c2c2;
    border-left-color: #c7c7c7;
    text-shadow: white 0 1px 0;
    color: #5e6469 !important;
    padding: 12px 17px 10px;
    margin: 0px;
    &:link {
      text-decoration: none;
    }
  }
}

.admin_applications #main_content > h3 {
  display: inline;
}
.mark_junk {
  background: #f85032; /* Old browsers */
  background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
  font-size: 0.75em;
  color: #FFFFFF !important;
  text-shadow: none;
  &:hover {
    background: #f73513; /* Old browsers */
    background: -moz-linear-gradient(top,  #f73513 0%, #f16f5c 50%, #ff0000 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f73513), color-stop(50%,#f16f5c), color-stop(51%,#ff0000), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f73513 0%,#f16f5c 50%,#ff0000 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f73513 0%,#f16f5c 50%,#ff0000 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f73513 0%,#f16f5c 50%,#ff0000 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f73513 0%,#f16f5c 50%,#ff0000 51%,#f02f17 71%,#e73827 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73513', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

  }
}

.review_button {
  background: #cdeb8b; /* Old browsers */
  background: -moz-linear-gradient(top,  #cdeb8b 0%, #cdeb8b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8b), color-stop(100%,#cdeb8b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cdeb8b 0%,#cdeb8b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #cdeb8b 0%,#cdeb8b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 ); /* IE6-9 */

}

.cpc {
  max-width: 350px;
}

.review-panel {
  float: left;
  width: 65%;
  margin-right: 5%;
}
.review-panel,
.score-panel {
  border-radius: 10px;
  
}
.score-panel {
  border: 1px solid #C1C1C1;
  padding: 10px 20px;
}
.score-panel {
  width: 300px;
}
.sidepanel { float: left; width: 30%; }
.cpc-box {
  border: 1px solid red;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;

  .name {
    font-size: 1.6em;
    float: left;
    width: 50%
  }
  .score-slider {
    position: relative;
    margin: 10px 0;
  }
  .score-num {
    position: absolute;
    top: -45px;
    right: 0;
  }
  .desc {
    width: 80%;
    padding: 2px 0;
  }
  .desc-sel {
    padding: 10px;
    height: 40px;
    border: 1px solid #ababab;
    border-radius: 10px;
    color: #444444;
    margin: 4px 0 20px 0;
  }
}

.score-text,
.score-num {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  font-size: 2.0em;
  text-align: center;
}

.loading .blank_slate {
  border: 0 none;
}

span.tag {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  font-size: 0.8em;
  padding: 2px 5px;
  margin: 0 5px;
}

h5 span.tag {
  font-size: 2.0em;
}

.tag.Product {
  border-color: #ce0b67;
  color: #ce0b67;
}
.tag.Business {
  border-color: #1cbf46;
  color: #1cbf46;
}
.tag.Developer {
  border-color: #b9ab11;
  color: #b9ab11;
}
.tag.Designer {
  border-color: #1b3089;
  color: #1b3089;
}