// import the CSS framework
@import "bootstrap";

// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// use mixins to create semantic classes
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  padding: 40px 80px;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }


main {
  background: transparent none;
}

body {
  background: image-url('ideo-bg1.jpg') no-repeat center center;
  background-size: cover;
}

.loading {
  background: asset-url('loading.gif') no-repeat center center;
  width: 100%;
  min-height: 150px;
}

.footer {
  margin: 50px 0 0 0;
  border-top: 1px solid #e1e1e1;
  img {
    padding: 20px;
    opacity: 0.2;
    width: 100px;
    float: right;
  }
}